
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$aula-projeto-pronto-primary: mat.define-palette(mat.$indigo-palette);
$aula-projeto-pronto-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$aula-projeto-pronto-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$aula-projeto-pronto-theme: mat.define-light-theme((
  color: (
    primary: $aula-projeto-pronto-primary,
    accent: $aula-projeto-pronto-accent,
    warn: $aula-projeto-pronto-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($aula-projeto-pronto-theme);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap');

:root {
    --background: #09090A;
    --white: #FFFFFF;
    --white-600: #F0F0F0;
    --white-400: #EDEDED;

    --grey-300: #C6C6D3;
    --grey-400: #A1A1AA;

    --dark-300: #3F3F46;
    --dark-400: #27272A;
    --dark-500: #3E3E41;
    --dark-600: #1C1C1C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

h1,  h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}

button {
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
